* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #D5E1EF;
    min-height: 100vh;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px #A1BAD7;
    border-radius: 20px;
    padding: 20px;
    gap: 20px;
    max-width: 320px;
    width: 90%;
}

.container img {
    width: 100%;
    border-radius: 20px;
}

.container h1 {
    text-align: center;
    color: hsl(220, 20%, 15%);
    font-size: 1.5em;
}

.container p {
    text-align: center;
    color: hsl(220, 15%, 55%);
    font-size: 1.1em;
}